body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  transition: 0.3s;
}

.table-wrapper {
  position: relative;
}

.table-wrapper.loading::before {
  background: #000;
  content: "";
  height: calc(100% - 40px);
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 1;
}

.table-wrapper.loading::after {
  animation: spin 1s linear infinite;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 75px;
  border-right-color: #fff;
  content: "";
  position: absolute;
  height: 75px;
  width: 75px;
  display: block;
  top: calc((100% - 35px)/2);
  left: calc((100% - 75px)/2);
  z-index: 1;
}

.table-wrapper {

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

caption {
  font-size: 24px;
  text-align: left;
  color: #333;
  margin-bottom: 16px;
  line-height: 24px;
}

thead {
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

th,
td {
  border: 1px solid black;
  height: 45px;
  line-height: 24px;
  padding: 10px;
}

thead th {
  background-color: #333;
  color: #fff;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

.error {
  background: #E53E3E;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  text-align: center;
  transition: 0.3s;
  visibility: hidden;
}

.error.show {
  opacity: 1;
  visibility: visible;
  margin-bottom: 5px;
  max-height: 50px;
}

.btn-group button {
  background-color: #04aa6d;
  border: 1px solid green;
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 18px;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
  pointer-events: all;
  position: relative;
  transition: 0.3s;
}

.btn-group button.loading {
  pointer-events: none;
  opacity: 0.75;
}

.btn-group::after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: #3e8e41;
}

.btn-group button:disabled {
  pointer-events: none;
  opacity: 0.75;
}

.btn-group label {
  display: inline-block;
  margin: 0.6em 1em;
}
